<h1>URL shrinker</h1>
<form action="" method="POST">
    <label for="fullUrl">Url</label>
    <input type="url" name="fullUrl" id="fullUrl">
    <button type="submit">Shrink</button>
</form>

<!-- creating a   table  for the url clicks and links -->
<table>
    <thead>
        <tr>
            <th>Full URl</th>
            <th>Short Url</th>
            <th>Clicks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> <a href="https://github.com/NishantGautam023">https://github.com/NishantGautam023</a></td>
            <td><a href="/123456">123456</a></td>
            <td>10</td>
        </tr>
    </tbody>
</table>